[submodule "kt-specifics"]
	path = kt-specifics
	url = https://github.com/Nexivo/kt-specifics.git
[submodule "kt-toolbox"]
	path = kt-toolbox
	url = https://github.com/Nexivo/kt-toolbox.git
[submodule "kt-eventify"]
	path = kt-eventify
	url = https://github.com/Nexivo/kt-eventify.git
[submodule "kt-stately"]
	path = kt-stately
	url = https://github.com/Nexivo/kt-stately.git
[submodule "kt-reggie"]
	path = kt-reggie
	url = https://github.com/Nexivo/kt-reggie.git
[submodule "kt-vinyl"]
	path = kt-vinyl
	url = https://github.com/Nexivo/kt-vinyl.git
[submodule "kt-net-server"]
	path = kt-net-server
	url = https://github.com/Nexivo/kt-net-server.git
[submodule "kt-net-client"]
	path = kt-net-client
	url = https://github.com/Nexivo/kt-net-client.git
